<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BB74.Media.Base" version="1.1.7112.33144-debug" targetFramework="net40" />
  <package id="BB74.Xwt.OpenTK" version="1.1.1.41930-debug" targetFramework="net40" />
  <package id="OpenTK" version="3.0.1" targetFramework="net40" />
  <package id="Xwt" version="0.2.169" targetFramework="net40" />
</packages>