################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BB74.Media.Xwt/v15
/Media.OpenTK/bin
/Media.OpenTK/obj
/Media.OpenTK.GTK/bin
/Media.OpenTK.GTK/obj
/Media.OpenTK.WPF/bin
/Media.OpenTK.WPF/obj
/Media.OpenTK.XamMac/bin/Debug
/Media.OpenTK.XamMac/obj
/MediaExample/bin
/MediaExample/obj
/packages
/.vs
/SimpleExample/bin/Debug
/SimpleExample/obj/Debug
/SimpleExample/obj/Release
/SimpleExample/bin/Release
/Media.Native/bin
/Media.Native/obj
/Media.Native/Media.Interop/bin
/Media.Native/Media.Interop/obj
/Media.Native/Media.Interop.Impl/bin
/Media.Native/Media.Interop.Impl/obj
/Media.Native/Media.Native/bin
/Media.Native/Media.Native/obj
/Media.Base/bin
/Media.Base/obj
/Examples/MediaExample/bin
/Examples/MediaExample/obj
/Examples/MovieExample/bin
/Examples/MovieExample/obj
/Examples/SimpleExample/bin
/Examples/SimpleExample/obj
/Examples/MovieExample/OpenTK.dll.config
/Media.OpenTK.GTK/OpenTK.dll.config
/Media.Base/package/lib
/BB74.Media.Base/obj
/BB74.Media.Base/bin
/BB74.Media.Base/packages
/BB74.Media.Native/BB74.Media.Interop.Impl/obj
/BB74.Media.Native/BB74.Media.Native/obj
/BB74.Media.Native/BB74.Media.Native/bin
/BB74.Media.Native/BB74.Media.Interop/bin
/BB74.Media.Native/BB74.Media.Interop/obj
/BB74.Media.Native/BB74.Media.Interop.Impl/bin
/BB74.Media.Base/package/lib/net40
/BB74.Media.Base/_tmp
