<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BB74.Media.Base" version="1.0.7058.27178" targetFramework="net40" />
  <package id="BB74.Media.FFMPEG" version="1.0.29-beta" targetFramework="net40" />
  <package id="BB74.Xwt.Controls" version="1.0.7051.27256" targetFramework="net40" />
  <package id="OpenTK-3.0-EGL-disabled" version="1.0.0" targetFramework="net40" />
  <package id="Xwt" version="0.2.166" targetFramework="net40" />
  <package id="Xwt.Gtk" version="0.2.166" targetFramework="net40" />
  <package id="Xwt.Gtk.Mac" version="0.2.166" targetFramework="net40" />
  <package id="Xwt.Gtk.Windows" version="0.2.166" targetFramework="net40" />
  <package id="Xwt.WPF" version="0.2.166" targetFramework="net40" />
  <package id="Xwt.XamMac" version="0.2.166" targetFramework="net40" />
</packages>