<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BB74.Media.Base" version="1.0.7069.20826" targetFramework="net45" requireReinstallation="true" />
  <package id="BB74.Media.FFMPEG" version="1.0.7070.27477" targetFramework="net45" requireReinstallation="true" />
  <package id="BB74.Xwt.Controls" version="1.0.7068.36758" targetFramework="net45" />
  <package id="Xwt" version="0.2.167" targetFramework="net45" />
  <package id="Xwt.Gtk" version="0.2.167" targetFramework="net45" />
  <package id="Xwt.Gtk.Mac" version="0.2.167" targetFramework="net45" />
  <package id="Xwt.XamMac" version="0.2.167" targetFramework="net45" />
</packages>