<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BB74.Media.Base" version="1.2.2.162" targetFramework="net40" />
  <package id="BB74.Xwt.OpenTK" version="1.1.4.6" targetFramework="net40" />
  <package id="BB74.Xwt.OpenTK.GTK" version="1.1.4.4" targetFramework="net40" />
  <package id="BB74.Xwt.OpenTK.WPF" version="1.1.4.4" targetFramework="net40" />
  <package id="OpenTK" version="3.1.0" targetFramework="net40" />
  <package id="SharpDX" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net40" />
  <package id="Xwt" version="0.2.181" targetFramework="net40" />
  <package id="Xwt.Gtk" version="0.2.181" targetFramework="net40" />
  <package id="Xwt.Gtk.Mac" version="0.2.181" targetFramework="net40" />
  <package id="Xwt.Gtk.Windows" version="0.2.181" targetFramework="net40" />
  <package id="Xwt.WPF" version="0.2.181" targetFramework="net40" />
  <package id="Xwt.XamMac" version="0.2.181" targetFramework="net40" />
</packages>