<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BB74.Media.Base" version="1.0.7069.20826" targetFramework="net45" requireReinstallation="true" />
  <package id="OpenTK-3.0-EGL-disabled" version="1.0.0" targetFramework="net45" />
  <package id="Xwt" version="0.2.167" targetFramework="net40" />
  <package id="Xwt.Gtk" version="0.2.167" targetFramework="net40" />
  <package id="Xwt.Gtk.Mac" version="0.2.167" targetFramework="net40" />
  <package id="Xwt.Gtk.Windows" version="0.2.167" targetFramework="net40" />
  <package id="Xwt.Gtk3" version="0.2.167" targetFramework="net40" />
  <package id="Xwt.WPF" version="0.2.167" targetFramework="net40" />
  <package id="Xwt.XamMac" version="0.2.167" targetFramework="net40" />
</packages>